<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RCL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    {% include 'components/header.html' %}

    <form id="meuFormulario" method="post" action="">
        <h2>Insira as informações da empresa</h2>


        <label for="nome">Qual é o nome da empresa?</label>
        <input type="text" id="nome" name="nome" placeholder="Nome" />


        <fieldset>
            <legend>Onde fica?</legend>
            <input type="text" id="cep"  name="cep" title="É o CEP" placeholder="99999-999" />
        </fieldset>


        <label for="telefone">Qual é o telefone de contato?</label>
        <input type="tel" id="telefone" name="telefone" placeholder="(99) 99999-999" />


        <label for="email">Qual é o email de contato?</label>
        <input type="email" id="email" name="email" placeholder="empresa@email.com" />

        
        <label for="email">Adicione uma descrição ao seu negócio</label>
        <input type="text" id="descricao" name="descricao" placeholder="Descrição" />


        <fieldset>


            <legend>Quais são as infraestrutura de carregamento que possui?</legend>


            <label>
                <input type="checkbox" name="infraestrutura" /> Não possuo
            </label>
            <label>
                <input type="checkbox" name="infraestrutura" value="1" /> Moto
            </label>
            <label>
                <input type="checkbox" name="infraestrutura" value="2" /> Carro
            </label>
            <label>
                <input type="checkbox" name="infraestrutura" value="3" /> Van
            </label>
            <label>
                <input type="checkbox" name="infraestrutura" value="4" /> Caminhão
            </label>
            <label>
                <input type="checkbox" name="infraestrutura" value="5" /> Barco de carga
            </label>
            <label>
                <input type="checkbox" name="infraestrutura" value="6" /> Avião de carga
            </label>
            <label>
                <input type="checkbox" name="infraestrutura" value="7" /> Guindaste
            </label>
            <label>
                <input type="checkbox" name="infraestrutura" value="8" /> Paleteira
            </label>


        </fieldset>

        {% set corBotao = 'black' %}
        {% set textoBotao = 'Cadastrar' %}
        {% set id = 'cadastrarVendedorButton' %}
        {% include "components/buttonDados.html" with context %}


        

    </form>

    {% set id = 'cadastroVendedorFooter' %}
    {% include "components/footer.html" with context %}
</body>
<script src="../../static/js/cadastrarVendedor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>
