<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RCL</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'components/header.html' %}

  <section class="hero-index">
    <div class="hero-text-index">
      <h1>RECICLA</h1>
      <p>O seu marketplace para comprar e vender resíduos recicláveis</p>
      <button class="btn-explorar">Explorar</button>
      <div class="stats">
        <div class="stat-item-index">
          <span class="stat-number-index">20k+</span>
          <span class="stat-label-index">Usuários</span>
        </div>
        <div class="stat-item-index">
          <span class="stat-number-index">34k+</span>
          <span class="stat-label-index">Vendas</span>
        </div>
        <div class="stat-item-index">
          <span class="stat-number-index">19k+</span>
          <span class="stat-label-index">Reviews</span>
        </div>
      </div>
    </div>
    <div class="hero-images-index">
      <div class="image-stack-index">
        <img src="{{ url_for('static', filename='images/lixos001.png') }}" alt="Latinhas de alumínio" class="hero-img-index front">
        <div class="price-overlay-index">
          <span class="weight-index">2kg</span>
          <span class="price-index">R$ 11,90</span>
        </div>
        <img src="{{ url_for('static', filename='images/lixos002.png') }}" alt="Garrafas plásticas" class="hero-img-index back">
        <div class="price-overlay-index back-overlay-index">
          <span class="weight-index">kg</span>
          <span class="price-index">R$</span>
        </div>
      </div>
    </div>
  </section>

  <section class="middle-section-index">
    <div class="middle-content-index">
      <div class="titles-index">
        <h2 id="fraseBanner" >A ARTE DE VENDER,<br>COMPRAR E RECICLAR</h2>
        
      </div>
      <div class="features-index">
        <div class="feature-index">
          <div class="feature-icon-index">📷</div>
          <span>Transações Rápidas</span>
        </div>
        <div class="feature-index">
          <div class="feature-icon-index">📈</div>
          <span>Negócios crescentes</span>
        </div>
      </div>
    </div>
  </section>

  <section class="marketplace-index">
    <h2>Marketplace</h2>
    {% include 'components/card.html' %}
    
    <div class="ver-mais-container-index">
      <button class="btn-ver-mais-index">Ver mais</button>
    </div>
  </section>

  {% include 'components/footer.html' %}
</body>
</html>