<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RCL</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  {% include 'components/header.html' %}

  <section class="hero-index">
    <div class="hero-text-index">
      <h1>RECICLA</h1>
      <p>O seu marketplace para comprar e vender resíduos recicláveis</p>
      <button class="btn-explorar">Explorar</button>
      <div class="stats">
        <div class="stat-item-index">
          <span class="stat-number-index">20k+</span>
          <span class="stat-label-index">Usuários</span>
        </div>
        <div class="stat-item-index">
          <span class="stat-number-index">34k+</span>
          <span class="stat-label-index">Vendas</span>
        </div>
        <div class="stat-item-index">
          <span class="stat-number-index">19k+</span>
          <span class="stat-label-index">Reviews</span>
        </div>
      </div>
    </div>
    <div class="hero-images-index">
      <div class="image-stack-index">
        <img src="{{ url_for('static', filename='images/lixos001.png') }}" alt="Latinhas de alumínio" class="hero-img-index front">
        <img src="{{ url_for('static', filename='images/lixos002.png') }}" alt="Garrafas plásticas" class="hero-img-index back">
      </div>
    </div>
  </section>

  <section class="middle-section-index">
    <div class="middle-content-index">
      <div class="titles-index">
        <h2 id="fraseBanner" >A ARTE DE VENDER,<br>COMPRAR E RECICLAR</h2>
        
      </div>
      <div class="features-index">
        <div class="feature-index">
          <div class="feature-icon-index"><img src="{{ url_for('static', filename='images/icons/transacoes.png') }}" alt="Transações"></div>
          <span>Transações Rápidas</span>
        </div>
        <div class="feature-index">
          <div class="feature-icon-index"><img src="{{ url_for('static', filename='images/icons/crescimento.png') }}" alt="Crescimento"></div>
          <span>Negócios crescentes</span>
        </div>
      </div>
    </div>
  </section>

  <section class="marketplace-index">
    <h2>Marketplace</h2>
    <div id="anunciosContainer">
      <div id="cardTemplate" class="card" style="display:none;">
          <img src="" alt="Imagem do produto" class="card-img">

          <div class="infoCard">
              <h3 class="card_titulo">Título</h3>
              <div>
                  <p class="card_preco">R$ 0,00</p>
                  <div class="divBotoesCard">
                      {% set corBotao = 'black' %}
                      {% set textoBotao = '<img src="/static/images/icons/carrinhoCompraBranco.png" alt="Carrinho" id="carrinhoBotao" />' %}
                      {% set path = 'home' %}
                      {% set id = 'botaoCard' %}
                      {% include "components/button.html" with context %}

                      {% set corBotao = 'white' %}
                      {% set textoBotao = 'Ver' %}
                      {% set id = 'verBotaoCard' %}
                      {% include "components/buttonDados.html" with context %}
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="ver-mais-container-index">
      <button class="btn-ver-mais-index">Ver mais</button>
    </div>
  </section>
  {% set id = 'indexFooter' %}
  {% include "components/footer.html" with context %}
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../../static/js/mostrarAnuncios.js"></script>
</html>