<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="loginBody">
        {% include "components/header.html" with context %}
        <div id="loginForm">
            <h2>Iniciar Sessão</h2>
    
            <div class="form-item">
                <label for="email">E-Mail</label>
                <input type="email" id="email" name="email" placeholder="exemplo@dominio.com" />
            </div>
            <div class="form-item">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Senha" />
            </div>
        </div>
        <div id="loginBotoes">
            <!-- botao continuar -->
            {% set corBotao = 'black' %}
            {% set textoBotao = 'Continuar' %}
            {% set id = 'logarButton' %}
            {% include "components/buttonDados.html" with context %}
        
            <!-- botao criar conta -->
            {% set corBotao = 'white' %}
            {% set textoBotao = 'Criar Conta' %}
            {% set path = 'registrar' %}
            {% include "components/button.html" with context %}
        </div>
    </div>
        {% set id = 'loginFooter' %}
        {% include "components/footer.html" with context %}
</body>
<script src="../../static/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>