<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perfil - Recicla Marketplace</title>
  <link rel="stylesheet" href="../../static/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<div class="body1 perfil-page">
<body>
  {% include 'components/header.html' %}

  <section class="hero">
    <div>
      <div class="avatar-placeholder">👤</div>
    </div>
    <div class="hero-text">
      <h2>{{apelido}}</h2>
      <p>{{funcao}}</p>
      <button class="btn-seguir">Seguir</button>
      <p class="bio">{{bio}}</p>
    </div>
  </section>

  <main class="perfil-container">
    <h1 class="titulo-itens">Itens à venda:</h1>

    <div class="itens-lista">
      {% if anuncios %}
        {% for titulo, descricao, quantidade, preco in anuncios %}
          <div class="item-card">
            <div class="item-imagem">
              <div class="imagem-placeholder"></div>
            </div>
            <div class="item-detalhes">
              <div class="item-header">
                <h3>{{ titulo }}</h3>
                <span class="peso">{{ quantidade }} un.</span>
              </div>
              <p class="descricao">{{ descricao }}</p>
              <div class="item-acoes">
                <button class="btn-carrinho">🛒</button>
                <button class="btn-ver">Ver</button>
              </div>
              <span class="preco">R$ {{ preco }}</span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>Esse usuário não possui anúncios.</p>
      {% endif %}
    </div>


    <div class="ver-mais-container">
      <button class="btn-ver-mais">Ver mais</button>
    </div>
  </main>
</body>
</div>
</html>
