<style>
.card {
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 38%;
    background-color: #e1e1e180;
    border: 2px solid black;
    border-radius: 30px;
    margin: 0px 8%;
    padding: 1%;
    justify-content: space-between;
}

.card > img {
    max-height: 250px;
    border-radius: 20px;
    border: 1px solid black;
}

.infoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 250px;
}

.divBotoesCard {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#botaoCard {
    width: 45%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#carrinhoBotao {
    width: 40px;
    height: 40px;
}

</style>



<div style="display:none;" class="card">
    <img src="{{ url_for('static', filename='images/residuos1.jpg') }}" alt="Imagem do produto">

    <div class="infoCard">
        <h3 class="card_titulo">titulo</h3>
        <div>
            <p class="card_preco">R$ 0,00</p>
            <div class="divBotoesCard" >
                {% set corBotao = 'black' %}
                {% set textoBotao = '<img src="/static/images/icons/carrinhoCompraBranco.png" alt="Carrinho" id="carrinhoBotao" />' %}
                {% set path = 'home' %}
                {% set id = 'botaoCard' %}
                {% include "components/button.html" with context %}

                {% set corBotao = 'white' %}
                {% set textoBotao = 'Ver' %}
                {% set path = 'home' %}
                {% set id = 'botaoCard' %}
                {% include "components/button.html" with context %}
            </div>
        </div>
        
    </div>
</div>

