<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <img src="../../images/logos/logo_preta.png" alt="Nossa logo">
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>

            <div class="direita">
                <!-- Botão anunciar -->
                <img src="" alt="carrinho">
                <img src="" alt="login">
            </div>
        </nav>
    </header>
</body>
</html>