<header>
    <nav>
        <a id="aHeader" href="{{ url_for('home') }}">
            <img id="logo" src="{{ url_for('static', filename='images/logos/logo_preta.png') }}" alt="Logo">
        </a>
        {% set corBotao = 'black' %}
        {% set textoBotao = 'Anunciar' %}
        {% set path = 'anunciar' %}
        {% set id = 'buttonHeader' %}
        {% include "components/button.html" with context %}

        <div>
            <a href="{{ url_for('carrinho') }}">
                <img src="{{ url_for('static', filename='images/icons/carrinhoCompra.png') }}" alt="carrinho">
            </a>
            <div class="user-menu-container">
                <img id="user-icon" src="{{ url_for('static', filename='images/icons/login.png') }}" alt="login" style="cursor: pointer;">
                
                <div id="user-menu" class="user-menu hidden">
                   <!-- script preenche aqui -->
                </div>
            </div>
        </div>
    </nav>
    <script src="../../static/js/header.js" ></script>
</header>