<header>
    <nav>
        <a id="aHeader" href="{{ url_for('home') }}">
            <img id="logo" src="{{ url_for('static', filename='images/logos/logo_preta.png') }}" alt="Logo">
        </a>
        {% set corBotao = 'black' %}
        {% set textoBotao = 'Anunciar' %}
        {% set path = 'anunciar' %}
        {% include "components/button.html" with context %}

        <div>
            <a href="{{ url_for('carrinho') }}">
                <img src="{{ url_for('static', filename='images/icons/carrinhoCompra.png') }}" alt="carrinho">
            </a>
            <a href="{{ url_for('registrar') }}">
                <img src="{{ url_for('static', filename='images/icons/login.png') }}" alt="login">
            </a>
        </div>
    </nav>
</header>